*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.question-card {
  display: inline-block;
  width: 25vw;
  margin: 1vw 0 0 1vw;
  padding: 1vw;
  border-radius: 15px;
  border: 2px solid black;
}

#questions-div {
  text-align: center;
}